.customer-review{
    padding-top: 32px;
    padding-bottom: 40px;
   
    //  height: 400px;
}


.customer-review-overlay {
    background-image: linear-gradient(
   
    to bottom, #84A178 10%,transparent 1%),
    url(../../images/Мороженое\ фон.png);
    background-repeat: no-repeat;
    background-size:cover;
  }

      

